<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>STUDENT UTILITY</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel-layers.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/init.js') }}"></script>
		<!-- <noscript> -->
			<link rel="stylesheet" href="{{ url_for('static', filename='styles/skel.css') }}" />
			<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
			<link rel="stylesheet" href="{{ url_for('static', filename='styles/style-xlarge.css') }}" />
		<!-- </noscript> -->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><strong>IIITD</a></strong>  Student Utility</h1>
				<!--<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="generic.html">Generic</a></li>
						<li><a href="elements.html">Elements</a></li>
					</ul>
				</nav>
			</header>-->

		<!-- Banner -->
			<section id="banner">
				<h2>STUDENT UTILITY</h2>
				<ul class="actions">
					<li><a href="login.html" class="button special big">LOGIN</a></li>
					<li><a href="signup.html" class="button special big">SIGN UP</a></li>
				</ul>
			</section>

		<!-- Footer -->
			<footer id="footer">
					<ul class="copyright">
						<li>MADE BY </li>
						<li>GUNKIRAT KAUR</li>
						<li>MRINAL ABROL</li>
						<li>KUSHAGRA ARORA</li>
					</ul>
				</div>
			</footer>

	</body>
</html>